<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
</head>
<body>
<div class="main-content">
    <div class="profileDetails">
        <div class="card p-3">
            <h1>Clients</h1>
            {% for clients in client_details %}
            <div class="row">
                <div class="col-xs-12 col-md-7">
                    <img class="img-thumbnail" src="{{ clients.client_image.url }}" alt="image">
                </div>
                <div class="col-xs-12 col-md-5">
                    <table>
                        <tr>
                            <th>Name:</th>
                            <td>{{ clients.client_name }}</td>
                        </tr>
                        <tr>
                            <th>Contact Number:</th>
                            <td>{{ clients.client_contact_no }}</td>
                        </tr>
                        <tr>
                            <th>Area:</th>
                            <td>{{ clients.area }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

</body>
</html>